<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="ChromeBrowserTest">
		<classes>
			<class name="testclass.DemoRunClass"></class>
			<parameter name="Browser" value="chrome"></parameter>
		</classes>
	</test> <!--Test -->
	
	<test name="FirefoxBrowserTest">
		<classes>
			<class name="testclass.DemoRunClass"></class>
			<parameter name="Browser" value="firefox"></parameter>
		</classes>
	</test> <!--Test -->
	
	<test name="EdgeBrowserTest">
		<classes>
			<class name="testclass.DemoRunClass"></class>
			<parameter name="Browser" value="edge"></parameter>
		</classes>
	</test> <!--Test -->
	
</suite> <!-- Suite -->